.ourFriendsItem {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-right: 90px;
    cursor: pointer;
    
}

.ourFriendsItem:hover img{
    transform: scale(1.2);
}

.ourFriendsItem:hover .ourFriendsLearnMore{
    background-color: #f1cdb3;
}