.popup {
    visibility: hidden;
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, .6);
}

.popupOpened {
    visibility: visible;
    z-index: 6;
}

.popupOpened .root {
    overflow: hidden;
}

.popupContainer {
    box-sizing: border-box;
    width: 900px;
    height: 500px;
    padding: 50px 20px 88px 0;
    border-radius: 9px;
    background: #FAFAFA;
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.popupWrapper {
    width: 351px;
    height: 362px;
    color: #000000;
    box-sizing: border-box;
}

.popupClose {
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -52px;
    right: -42px;
    transition: all .5s ease;
}

.popupClose:hover {
    background-color: #F1CDB3;
}

.popupTitle {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.popupSubtitle {
    margin: 10px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;

}

.popupDescription {
    margin: 40px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
}

.popupList {
    padding: 0;
    margin: 40px 0 0 0;
    color: #F1CDB3;
}

.popupItem {
    padding: 0;
    list-style-position: inside;
    color: #000000;
    font-style: normal;
    font-size: 15px;
    line-height: 110%;
    margin-top: 11px;
}

.popupItem:first-of-type {
    margin-top: 0;
}