.ourFriendsSlider {
    width: 990px;
    height: 435px;
    margin-left: 53px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
}

@media screen and (max-width:768px) {
    .ourFriendsSlider {
        max-width: 580px;
        padding: 0;
    }
}

@media screen and (max-width:320px) {
    .ourFriendsSlider {
        max-width: 270px;
        padding: 0;
    }
}