.helpText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    margin: 30px 0 0;
    white-space: nowrap;
}