.ourFriendsRight {
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    position: relative;
    cursor: pointer;
    transition: all .7s ease;
}

@media screen and (max-width:768px) {
    .ourFriendsRight {
        margin-left: 12px;
    }
}

@media screen and (max-width:320px) {
    .ourFriendsRight {
        order: 3;
        margin: 20px 43px 0 0;
    }
}

.ourFriendsRight:hover {
    background-color: #F1CDB3;
}