.petsTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    margin: 0 auto 30px;
    width: 400px;
    text-align: center;
}

@media screen and (max-width:768px) {
    .petsTitle {
        margin: 0 auto
    }
}

@media screen and (max-width:320px) {
    .petsTitle {
        width: 300px;
        font-size: 25px;
        line-height: 32px;
    }
}