.ourFriendsLeft {
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    position: relative;
    cursor: pointer;
    transition: all .7s ease;
}

.ourFriendsLeft:hover {
    background-color: #F1CDB3;
}

.disable {
    border: 2px solid #cdcdcd;
    cursor: default;
}

.disable:hover {
    background-color: #F6F6F6; 
}

@media screen and (max-width:768px) {
    .ourFriendsLeft {
        margin-right: 12px;
    }
}

@media screen and (max-width:320px) {
    .ourFriendsLeft {
        order: 2;
        margin: 20px 80px 0 43px;
    }
}

