html {
    scroll-behavior:smooth ;
}

.root {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background: url(../image/background.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.06em;
    color: #545454;
}

.blocked {
    overflow: hidden;
}

.rootWhite {
    max-width: 1280px;
    margin: 0 auto;
    background: #F6F6F6;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.06em;
    color: #545454;
}

@media screen and (max-width:768px) {
    .root,  .rootWhite{
        max-width: 768px;
    }
}

@media screen and (max-width:320px) {
    .root,  .rootWhite{
        max-width: 320px;
    }
}