.root {
    max-width: 1280px;
    width: 1280px;
    margin: 0 auto;
    background: url(../image/background.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}