.aboutContent {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 175px;
}

@media screen and (max-width:768px) {
    .aboutContent {
        max-width: 437px;
        flex-direction: column;
        padding: 0;
    }
}

@media screen and (max-width:320px) {
    .aboutContent {
        max-width: 300px;
        flex-direction: column;
    }
}