.footerContent {
    width: 1200px;
    padding: 40px 40px 0px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .footerContent {
        width: 708px;
        padding: 30px 30px 0;
        flex-wrap: wrap;
    }
    .footerContacts {
        margin-left: 34px;
    }
    .footerAdress {
        margin-right: 34px;
    }
    
}

@media screen and (max-width:320px) {
    .footerContent {
        width: 300px;
        padding: 30px 10px 0;
    }
    .footerContacts {
        margin: 0 auto;
        width: 278px;
    }
    .footerAdress {
        margin: 40px auto 0;
    }
}