.notOnlyButton {
    background-color: #f1cdb3;
    border-radius: 100px;
    max-width: 207px;
    width: 207px;
    height: 52px;
    border: none;
    cursor: pointer;
    transition: all .7s ease;
    color: #292929;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    text-decoration: none;
    transition: all .7s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}


.notOnlyButton:hover {
    border: 1px solid #513D2F;
    font-size: 18px;
}

@media screen and (max-width:320px) {
    .notOnlyButton {
        margin: 42px auto 0;
    }
}
