.headerLink {
    text-decoration: none;
    color: #CDCDCD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 24px;
}

.headerLinkWhite {
    text-decoration: none;
    color: #545454;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 24px;
}