.header {
    box-sizing: border-box;
    max-width: 1200px;
    width: calc(100% - 80px);
    margin: 30px auto 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px) {

    .header,
    .headerWhite {
        width: 100%;
        max-width: 708px;
    }
}

@media screen and (max-width:767px) {

    .header,
    .headerWhite {
        width: 100%;
        /* max-width: 708px; */
    }
}

@media screen and (max-width:320px) {
    .header {
        max-width: 280px;
        margin: 30px auto;
    }
}

.headerWhite {
    box-sizing: border-box;
    width: 100%;
    /* max-width: 1280px; */
    background-color: #fff;
    padding: 30px 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

@media screen and (max-width:768px) {
    .headerWhite {
        /* max-width: 768px; */
        padding: 30px;

    }
}

@media screen and (max-width:320px) {
    .headerWhite {
        position: relative;
        width: 100%;
        padding: 30px 20px;
    }

}