.ourFriendsLearnMore {
    width: 187px;
    height: 52px;
    margin: 30px 0 0;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: #FAFAFA;
    color: #292929;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: all .7s ease;
}

.ourFriendsLearnMore:hover {
    background-color: #f1cdb3;
}