.ourFriendsButton {
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    margin: 60px auto 0;
    transition: all .7s ease;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    text-decoration: none;
    transition: all .7s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourFriendsButton:hover {
    border: 1px solid #513D2F;
    font-size: 18px;
}

@media screen and (max-width:768px) {
    .ourFriendsButton {
        width: 260px;
    }
}

@media screen and (max-width:320px) {
    .ourFriendsButton {
        margin-top: 42px;
    }
}