.helpTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width:320px) {
    .helpTitle {
        font-size: 25px;
        line-height: 32px;
    }
}