.footerSubtitle {
    font-size: 20px;
    line-height: 23px;
    color: #f1cdb3;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 40px;
    transition: all .5s ease;
}

@media screen and (max-width:768px) {
    .footerSubtitle {
        margin-top: 43px;
    }
}

@media screen and (max-width:320px) {
    .footerSubtitle {
        margin: 40px auto 0;
    }
    .phone {
        margin-top: 44px;
    }
}

.email {
    width: 251px;
}

.phone {
    width: 239px;
}

.boston, .london{
    width: 302px;
}

.footerSubtitle:hover .footerInfo{
    color: #FFFFFF;
}
