.notOnlyTitle {
    width: 310px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 44px;
    line-height: 57px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
}