.footerTitle {
    font-size: 35px;
    line-height: 45px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    width: 278px;
}

@media screen and (max-width:768px) {
    .footerTitle {
        width: 278px;
    }
}

@media screen and (max-width:320px) {
    .footerTitle {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        margin: 0 auto;
    }
}