.aboutDescription {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    color: #4C4C4C;
    margin: 25px 0 0;
}

@media screen and (max-width:768px) {
    .aboutDescription {
        /* width: 430px; */
        letter-spacing: normal;
    }
}

@media screen and (max-width:320px) {
    .aboutDescription {
        /* width: 430px; */
        letter-spacing: normal;
        text-align: justify;
        margin-top: 22px;
    }

    .aboutDescription:first-of-type {
        margin-top: 25px;
    }
}