.inAdditionContent {
    width: 915px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .inAdditionContent {
        width: 100%;
        flex-direction: column;
    }
}