.helpItem {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 120px;
    width: 100px;
    margin-top: 55px;
    cursor: pointer;
}

.helpItem:nth-child(5n) {
    margin-right: 0px;
}

.helpItem:nth-child(6n) {
    margin-left: 84px;
}

.helpItem:hover img {
    transform: scale(1.2);
}

@media screen and (max-width:768px) {
    .helpItem {
        width: 150px;
        margin-right: 60px;
        justify-content: center;
    }

    .helpItem:nth-child(3n) {
        margin-right: 0px;
    }
}

@media screen and (max-width:320px) {
    .helpItem {
        width: 130px;
        margin: 0px 30px 30px 0px;
        justify-content: center;
    }

    .helpItem:nth-child(2n+2) {
        width: 130px;
        margin: 0px 0px 30px 0px;
        justify-content: center;
    }
    .helpItem:last-of-type{
        margin: 0;
        
    }

}