.helpItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 120px;
    width: 100px;
    margin-top: 55px;
    cursor: pointer;
}

.helpItem:nth-child(5n) {
    margin-right: 0px;
}

.helpItem:nth-child(6n) {
    margin-left: 84px;
}

.helpItem:hover img {
    transform: scale(1.2);
}