.ourFriendsTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    color: #545454;
    letter-spacing: 0.06em;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

@media screen and (max-width:768px) {
    .ourFriendsTitle {
        text-align: center;
        /* width: 400px; */
    }
}

@media screen and (max-width:320px) {
    .ourFriendsTitle {
        font-size: 25px;
        line-height: 32px;
    }
}