.ourFriendsCards {
    width: 2700px;
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 5;
    left: 0px;
    transition: all .5s ease;
}

@media screen and (max-width:768px) {
    .ourFriendsCards {
        
    }
}